<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="assets/img/weather.png">
    <link rel="stylesheet" href="assets/css/app.css">
    <title>{{pageName}}</title>
</head>

<body>
    <section>
        <ul>
            <li>
                <img src="assets/img/weather.png" />
            </li>
            <li>
                <h1>Weather App</h1>
            </li>
        </ul>
    </section>
    <div class="main-content">
        <section>
            <p>Use this app to get your weather! :)</p>
            <form id="forecast-form">
                <input id="form-location" placeholder="Location"/>
                <button class='forecast-button' type="submit">Check weather</button>
            </form>
        </section>

        <p id="location"></p>
        <p id="description"></p>
    </div>

    {{>footer}}

    <script src="assets/js/forecast.js"></script>
</body>

</html>